<h2 id="title">Welcome to Pi-Timeswitch</h2>

<nav>
  {{#link-to "about"}}About{{/link-to}}
  {{#link-to "pins"}}Pins{{/link-to}}
</nav>

{{outlet}}

<div class="wappen">
  {{#link-to "about"}}
    <img src="assets/images/Wappen.png" width="25" hight="25">
  {{/link-to}}
</div>
