<h2 id="title">Welcome to Pi-Timeswitch</h2>


<div class="nav">
    <ul>
        <li>{{#link-to "pins"}}Pins{{/link-to}}</li>
        <li>{{#link-to "about"}}About{{/link-to}}</li>
    </ul>
</div>


{{outlet}}

<div class="wappen">
    {{#link-to "about"}}
        <img src="assets/images/Wappen.png" width="25" hight="25">
    {{/link-to}}
</div>
