<br>
  <table id="pinTable">
    <thead>
      <tr>
      <th width="20"></th>
      <th class="borderedCell" width="50">Pin</th>
      <th class="borderedCell">Name</th>
      <th width="20"></th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |pin|}}
        {{pin-row pin=pin updatePinName="updatePinName" deletePin="deletePin"}}
      {{/each}}
      {{pin-input action="createPin"}}
    </tbody>
  </table>
<br>

{{outlet}}