<div class="fragment">
  <h2>Pins</h2>
  <table id="pinTable">
    <tbody data-bind="foreach: pins">
        <tr data-bind="click: $parent.pushPin, clickBubble: false, css: {'highlight': $parent.selected()==id}">
          <td>
            <input class="imgButton" type="image" data-bind="click: $parent.pushSwitchState, clickBubble: false, attr: {src: stateImage}" width="20" />
          </td>
          <td class="numeric" data-bind="text: number"></td>
          <td data-bind="text: name"></td>
          <td>
            <input class="destroy" type="image" src="/images/delete.svg" width="20" height="20" data-bind="click: $parent.pushRemove, clickBubble: false" />
          </td>
        </tr>
    </tbody>
  </table>
  <button data-bind="click: pushAdd">add pin!</button>
</div>
