<div class="fragment">
  <h2>Pins</h2>
  <table id="pinTable">
    <tbody data-bind="foreach: pins">
        <tr data-bind="click: $parent.pushPin, clickBubble: false, css: {'highlight': $parent.selected()==id}">
          <td>
          	<button class="image" data-bind="click: $parent.pushSwitchState, clickBubble: false">
            	<img data-bind="attr: {src: stateImage}" width="20">
            </button>
          </td>
          <td class="numeric" data-bind="text: number"></td>
          <td data-bind="text: name"></td>
          <td>
            <button class="destroy" data-bind="click: $parent.pushRemove, clickBubble: false" >
            	<img src="/images/delete.svg" width="15">
            </button>
          </td>
        </tr>
    </tbody>
  </table>
  <button data-bind="click: pushAdd">add pin!</button>
</div>
