<div class="fragment">
    <table id="pinTable">
        <thead>
            <tr>
            <th width="20">State</th>
            <th class="borderedCell" width="50">Pin</th>
            <th class="borderedCell">Name</th>
            <th width="20"></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: pins">
            <tr data-bind="click: $parent.pinClicked, clickBubble: false">
                <td data-bind="text: state"></td>
                <td class="numeric" data-bind="text: number"></td>
                <td data-bind="text: name"></td>
                <td>
                    <button class="destroy" data-bind="click: $parent.removePin, clickBubble: false" ></button>
                </td>
            </tr>
        </tbody>
    </table>
    <button onclick="window.location.href='#/pins/add'">add pin!</button>
</div>
