<td></td>
<td class="borderedCell">
  {{input type="text" value=pin_num placeholder="Pin" enter="addPin"}}
</td><td class="borderedCell">
  {{input type="text" value=name placeholder="Name" enter="addPin"}}
</td>
<td></td>
