<td class="borderedCell">
  {{input
    type="text" 
    value=startTime 
    placeholder="12:00" 
    enter="addSequence"}}
</td><td class="borderedCell">
  {{input type="text" 
    value=startRange 
    placeholder="15" 
    enter="addSequence"}}
</td><td class="borderedCell">
  {{input 
    type="text" 
    value=endTime
    placeholder="12:00"
    enter="addSequence"}}
</td><td class="borderedCell">
  {{input 
    type="text" 
    value=endRange
    placeholder="30"
    enter="addSequence"}}
</td>
