<div class="fragment">
    <table>
        <tr>
        <td><label for="username">Username: </label></td>
    	<td><input id="username"
                   placeholder="User" 
                   data-bind="textInput: name"/><td>
        </tr>
    
        <tr>
        <td><label for="password">Password: </label></td>
    	<td><input type="password" 
                   id="password" 
                   placeholder="Password" 
                   data-bind="textInput: password" /></td>
        </tr>
    </table>

	<button class="submit" data-bind="click: pushLogin">login</button>
</div>
