<div class="fragment">
    <table>
        <tr>
        <td><label for="username">Username:</label></td>
    	<td><input id="username"
                   placeholder="User" 
                   data-bind="textInput: name"/><td>
        </tr>
    
        <tr>
        <td><label for="password">Password:</label></td>
    	<td><input type="password" 
                   id="password" 
                   placeholder="Password" 
                   data-bind="textInput: password" /></td>
        </tr>
        <!-- ko if: error() -->
        <!-- ko with: error -->
		<tr>
		<td class="errorTitle" colspan="2" data-bind="text: title"></td>
        </tr>
		<tr>
		<td class="errorDetail" colspan="2" data-bind="text: detail"></td>
        </tr>
        <!-- /ko -->
        <!-- /ko -->
    </table>

	<button class="submit" data-bind="click: pushLogin">login</button>
</div>
