body {
	margin: 0;
	padding: 0;
	height: 100%;
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	/* background: url('/images/bg.png');*/
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

h2 {
	margin-top: 5px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-right: 10px;
	text-align:center; 
}

h3 {
	margin-top: 5px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-right: 10px;
	text-align:center; 
}

.nav ul {
	list-style: none;
	background-color: #006600;
	text-align: left;
	padding: 0;
	margin-top: 0px;
	margin-bottom: 17px;
}

.nav li img {
	height: 40px;
	padding: 0;
	margin: 0;
}

.nav li.icon {
	padding: 0;
	padding-left: 10px;
	margin: 0;
	float: left;
}

.nav li.info{
	float: right;
}

.nav li {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #fff;
	border-bottom: none;
	font-size: 1.2em;
	line-height: 30px;
	height: 30px;
	padding: 5px;
	display: inline-block;
}

.container {
    
	margin-left: 40px;
	margin-right: auto;

	padding: 20px;
}

.fragment {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;

    min-width: 150px;

    padding: 5px;
    margin: 5px;

    float: left;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid #006600;
    background: rgba(247, 255, 244, 1);

    -webkit-box-shadow: #B3B3B3 4px 4px 4px;
    -moz-box-shadow: #B3B3B3 4px 4px 4px;
     box-shadow: #B3B3B3 4px 4px 4px;
}

.center {
    margin:0 auto;
    width: 50%;
}

div.fragment table {
	border-collapse:collapse;
	width: 100%;
}

div.fragHeader > button {
    float: right;
}

div.fragHeader > input {
	margin-right: 40px;
	margin-top: 5px;
	margin-bottom: 0px;

	width: auto;
}

tr.highlight {
    background:rgba(200, 100, 100, 1);
}

td.numeric {
	text-align:center; 
}

button.submit {
    float: right;
    cursor: pointer;
}

input.timeIn {
	width: 30px;
}

input.destroy {
    margin: 0px;
    padding: 0px;
	opacity: 0;
    border:0;
    background:rgba(255, 255, 255, 0);
    cursor: pointer;
}

tr:hover > td > input.destroy {
	opacity: 1;
}

input.imgButton {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    vertical-align: middle;
}

button.edit {
    margin: 0;
    padding: 0;
    cursor: pointer;
}

button.save {
    margin: 0;
    padding: 0;
    cursor: pointer;
    color: green;
}

button.topRight {
    margin: 0;
    padding: 0;
    cursor: pointer;
    vertical-align: top;
}

button.topRightSave {
    margin: 0;
    padding: 0;
    float: right;
    cursor: pointer;
    vertical-align: top;
    color: green;
}

div.wappen {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: auto;
    left: 10px;
    bottom: 10px;
    clear: none;
    float: none;
    position: fixed;
    visibility: visible;
    display: inline;
}