body {
    margin: 0;
    padding: 0;
    height: 100%;
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    /* background: url('/images/bg.png');*/
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.nav ul {
    list-style: none;
    background-color: #006600;
    text-align: left;
    padding: 0;
    margin-top: 0px;
    margin-bottom: 17px;
}

.nav li img {
    height: 47px;
    position: relative;
    bottom: 0px;
}

.nav li.icon {
    float: left;
}

.nav li.info{
    float: right;
}

.nav li {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #fff;
    border-bottom: none;
    font-size: 1.2em;
    line-height: 30px;
    height: 30px;
    padding: 5px;
    display: inline-block;
}

.container {
    
    margin-left: 0;
    margin-right: auto;

    padding: 20px;
}

.fragment {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;

    min-width: 70px;

    padding: 5px;
    margin: 5px;

    float: left;

    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    border-radius: 17px;
    border: 2px solid #006600;
    background: rgba(247, 255, 244, 1);

    -webkit-box-shadow: #B3B3B3 4px 4px 4px;
    -moz-box-shadow: #B3B3B3 4px 4px 4px;
     box-shadow: #B3B3B3 4px 4px 4px;
}

.flash  {
    background: #cee5F5; 
    padding: 0.5em;
    border: 1px solid #aacbe2;
    width: 50%;
}

.center {
    margin:0 auto;
    width: 50%;
}

button.submit {
    float: right;
}

button.image {
    border:0;
    background:rgba(255, 255, 255, 0)
}

div.wappen {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: auto;
    left: 10px;
    bottom: 10px;
    clear: none;
    float: none;
    position: fixed;
    visibility: visible;
    display: inline;
}