<div class="fragment">
  <h2>Users</h2>
  <table id="userTable">
    <tbody data-bind="foreach: users">
        <tr data-bind="click: $parent.pushUser, clickBubble: false">
          <td data-bind="text: name"></td>
          <td data-bind="text: privilege"></td>
          <td>
            <input class="destroy" type="image" src="/images/delete.svg" width="20" height="20" data-bind="click: $parent.pushRemove, clickBubble: false" />
          </td>
        </tr>
    </tbody>
  </table>
  <button data-bind="click: pushAdd">add user!</button>
</div>
