<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>π • Timeswitch</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='favicons/apple-touch-icon-57x57.png') }}">
	<link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='favicons/apple-touch-icon-60x60.png') }}">
	<link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='favicons/apple-touch-icon-72x72.png') }}">
	<link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='favicons/apple-touch-icon-76x76.png') }}">
	<link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='favicons/apple-touch-icon-114x114.png') }}">
	<link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='favicons/apple-touch-icon-120x120.png') }}">
	<link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='favicons/apple-touch-icon-144x144.png') }}">
	<link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='favicons/apple-touch-icon-152x152.png') }}">
	<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicons/apple-touch-icon-180x180.png') }}">
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='favicons/favicon-32x32.png') }}" sizes="32x32">
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='favicons/android-chrome-192x192.png') }}" sizes="192x192">
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='favicons/favicon-96x96.png') }}" sizes="96x96">
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='favicons/favicon-16x16.png') }}" sizes="16x16">
	<link rel="manifest" href="{{ url_for('static', filename='favicons/manifest.json') }}">
	<meta name="msapplication-TileColor" content="#ffc40d">
	<meta name="msapplication-TileImage" content="{{ url_for('static', filename='favicons/mstile-144x144.png') }}">
	<meta name="theme-color" content="#ffffff">
</head>
<body>

	{% raw %}
	<script type="text/x-handlebars">
		<h1>
			{{#link-to "pins"}}Pins{{/link-to}}
			{{#link-to "about"}}About{{/link-to}}
		</h1>
		{{outlet}}
		<div class="wappen">
			{{#link-to "about"}}
				<img src="static/pic/Wappen.png" width="25" hight="25">
			{{/link-to}}
		</div>
	</script>

	<script type="text/x-handlebars" id="pins" data-template-name="pins">
		<table id="pinTable">
			<thead>
				<tr>
				<th width="20"></th>
				<th class="borderedCell" width="50">Pin</th>
				<th class="borderedCell">Name</th>
				<th width="20"></th>
				</tr>
			</thead>
			<tbody>
				{{#each pin in model itemController="pin"}}
					<tr {{action "editPin" on="doubleClick"}}>
						<td>{{pin.state}}</td>
						<td class="numeric">
							{{#link-to "pin" pin}}{{pin.id}}{{/link-to}}
						</td><td class="borderedCell">
							{{#if pin.isEditing}}
								{{edit-view class="edit" 
									value=pin.name focus-out="acceptChanges" 
									insert-newline="acceptChanges"}}
							{{else}}
								{{#link-to "pin" pin}}{{pin.name}}{{/link-to}}
							{{/if}}
						</td>
						<td>
							<button {{action "removePin"}} class="destroy"></button>
						</td>
					</tr>
				{{/each}}
				<tr>
					<td></td>
					<td class="borderedCell">
						{{input type="text" 
							value=id
							placeholder="Pin"
							action="addPin"}}
					</td><td class="borderedCell">
						{{input
							type="text"
							value=name
							placeholder="Name"
							action="addPin"}}
					</td>
					<td></td>
				<tr>
			</tbody>
		</table>
		<br>
		{{outlet}}
	</script>

	<script type="text/x-handlebars" 
		id="pins/index" data-template-name="pins/index">
		<p class="text-warning">Please select a pin</p>
	</script>

	<script type="text/x-handlebars" id="pin" data-template-name="pin">
		<h2>{{name}}</h2>
		<table id="timeTable">
			<thead>
				<tr>
					<th class="borderedCell">Status		</th>
					<th class="borderedCell">Start		</th>
					<th class="borderedCell">Range		</th>
					<th class="borderedCell">End		</th>
					<th class="borderedCell">Range		</th>
					<th width="20"></th>
				</tr>
			</thead>
			<tbody>
				{{#each this.schedules itemController="time"}}
						<tr {{action "editTime" on="doubleClick"}}>
							<td>
							</td>
						{{#if this.isEditing}}
							<td class="numeric">
							{{edit-view class="edit" 
								value=fromTm 
								insert-newline="acceptChanges"}}
							</td>
						{{else}}
							<td class="numeric">
								<lable>{{fromTm}}</lable>
							</td>
						{{/if}}
						{{#if this.isEditing}}
							<td class="numeric">
							{{edit-view class="edit" 
								value=fromRange 
								insert-newline="acceptChanges"}}
							</td>
						{{else}}
							<td class="numeric">
								<lable>{{fromRange}}</lable>
							</td>
						{{/if}}
						{{#if this.isEditing}}
							<td class="numeric">
							{{edit-view class="edit" 
								value=toTm
								insert-newline="acceptChanges"}}
							</td>
						{{else}}
							<td class="numeric">
								<lable>{{toTm}}</lable>
							</td>
						{{/if}}
						{{#if this.isEditing}}
							<td class="numeric">
							{{edit-view class="edit" 
								value=toRange 
								insert-newline="acceptChanges"}}
							</td>
						{{else}}
							<td class="numeric">
								<lable>{{toRange}}</lable>
							</td>
						{{/if}}
						<td>
							<button {{action "removeTime"}} class="destroy"></button>
						</td>
						</tr>
				{{/each}}
					<td>
					</td><td class="borderedCell">
						{{input
							type="text" 
							value=fromTm 
							placeholder="von" 
							action="addTime"}}
					</td><td class="borderedCell">
						{{input type="text" 
							value=fromRange 
							placeholder="streuung" 
							action="addTime"}}
					</td><td class="borderedCell">
						{{input 
							type="text" 
							value=toTm
							placeholder="bis"
							action="addTime"}}
					</td><td class="borderedCell">
						{{input 
							type="text" 
							value=toRange
							placeholder="streuung"
							action="addTime"}}
					</td>
			</tbody>
		</table>
	</script>

	<script type="text/x-handlebars" id="pin/_edit">
		<p>{{input type="text" value=name}}</p>
	</script>

	<script type="text/x-handlebars"
		id="about" data-template-name="about">
		<div>Need text here!</div>
	</script>

	{% endraw %}
	
	<script src="{{ url_for('static', filename='js/libs/jquery-v1.11.1.js') }}"></script>
	<script src="{{ url_for('static', filename='js/libs/handlebars-v1.3.0.js') }}"></script>
	<script src="{{ url_for('static', filename='js/libs/ember-v1.6.1.js') }}"></script>
	<script src="{{ url_for('static', filename='js/libs/ember-data.js') }}"></script>
	<script src="{{ url_for('static', filename='js/app.js') }}"></script>
 	<script src="{{ url_for('static', filename='js/views/edit_pin_view.js') }}"></script>
</body>
</html>
