<h3>{{model.id}} – {{model.name}}</h3>
<table id="timeTable">
  <thead>
    <tr>
      <th class="borderedCell">Start  </th>
      <th class="borderedCell">Range  </th>
      <th class="borderedCell">End    </th>
      <th class="borderedCell">Range  </th>
      <th width="20"></th>
    </tr>
  </thead>
  <tbody>
    {{#each model.sequences as |sequence|}}
      {{sequence-row sequence=sequence 
      updateSequence="updateSequence" deleteSequence="deleteSequence"}}
    {{/each}}
    {{sequence-input pin=model action="createSequence"}}
  </tbody>
</table>
